spring:
  application:
    name: hmpps-assessments-api
  cache:
    type: redis
    cache-names: verifyUserAccess, roshRiskWidget
    redis:
      time-to-live: 300000
      cache-null-values: false
  security:
    oauth2:
      client:
        registration:
          assess-risks-and-needs-api-client:
            client-name: assess-risks-and-needs-api-client
            client-id: ${assess-risks-and-needs-api-id:sentence-plan-api-client}
            client-secret: ${assess-risks-and-needs-api-client-secret:clientsecret}
            client-authentication-method: client_secret_basic
            authorization-grant-type: client_credentials
            provider: oauth-service
          delius-integration-client:
            client-name: delius-integration-client
            client-id: ${delius-integration-client-id:delius-integration-client}
            client-secret: ${delius-integration-client-secret:clientsecret}
            client-authentication-method: client_secret_basic
            authorization-grant-type: client_credentials
            provider: oauth-service
        provider:
          oauth-service:
            token-uri: ${oauth.endpoint.url:http://localhost:9090/auth}/oauth/token
      resourceserver:
        jwt:
          issuer-uri: ${oauth.endpoint.url:http://localhost:9090/auth}/issuer
  hmppsassessmentsapi:
    datasource:
      url: 'jdbc:postgresql://${database.endpoint:localhost:5432}/${database.name:postgres}?currentSchema=${database.schema.name:hmppsassessmentsapi}&stringtype=unspecified'
      username: ${database.username:root}
      password: ${database.password:dev}
      type: com.zaxxer.hikari.HikariDataSource
  hmppsassessmentsschemas:
    datasource:
      url: 'jdbc:postgresql://${database.endpoint:localhost:5432}/${database.name:postgres}?currentSchema=${database.schema.name:hmppsassessmentsschemas}&stringtype=unspecified'
      username: ${database.username:root}
      password: ${database.password:dev}
      type: com.zaxxer.hikari.HikariDataSource
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        show_sql: false
        jdbc:
          lob:
            non_contextual_creation: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
  data:
    redis:
      host: localhost
      port: 6379
      password:
      ssl:
        enabled: false
      client-name: hmpps-assessments-api
      repositories:
        enabled: false

server:
  port: 8080
  servlet:
    context-path: /
  tomcat:
    remoteip:
      remote-ip-header: x-forwarded-for
      protocol-header: x-forwarded-proto
  forward-headers-strategy: native

management:
  endpoints:
    web:
      base-path: /
      exposure:
        include: 'health, info, ping'
  endpoint:
    health:
      cache:
        time-to-live: 2000ms
      show-components: always
      show-details: never
    info:
      cache:
        time-to-live: 2000ms
  info:
    env:
      enabled: true

appinsights:
  instrumentationkey:

azure:
  application-insights:
    web:
      enable-W3C: true

graceful:
  shutdown:
    enabled: true

logging:
  level:
    org:
      hibernate: INFO
    uk:
      gov: INFO
  uris:
    exclude:
      regex: /health|/info|/ping|/swagger.*|/webjars/.*|/v2/api-docs

web:
  client:
    connect-timeout-ms: 100000
    read-timeout-ms: 50000
    write-timeout-ms: 5000
    byte-buffer-size: 20971520

assess-risks-and-needs-api:
  base-url: http://localhost:9080

delius-integration:
  base-url: http://localhost:9082

cache:
  ttlDays:
    referenceData: 10
  ttlMinutes:
    default: 5
